// Options
$enable-rounded:            true !default;
$enable-shadows:            false; // На макеті тіні мінімальні
$enable-transitions:        true;
$enable-hover-media-query:  false;
$enable-grid-classes:       true;
$enable-print-styles:       true;

// Variables
// Colors
$theme-colors: (
  primary: #12bbad, // Бірюзовий з лого
  secondary: #4f70ce, // Синій
  light: #f8f9fa,
  dark: #000000, // Чорні кнопки
  info: #ccc,
  success: #28a745,
  warning: #ffc107, // Жовтий акцент
  danger: #dc3545
);

$body-bg: white;
$body-color: #333;
$link-color: #12bbad;

// Fonts
// Я змінив вагу шрифту, щоб виглядало як на макеті (bold headers)
$font-family-base: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
$headings-font-family: $font-family-base;
$font-weight-normal: 400; // Звичайний текст
$headings-font-weight: 800; // Жирні заголовки
$lead-font-size:   1.25rem;

$spacer: 1.5rem;

@import 'bootstrap-4.3.1';